@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --bg-theme-dark: #171717;
    --bg-theme-dark-2: #101010;
    --bg-theme-dark-3:  #373737
}

.inter-400 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-500 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-600 {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


.space-grotesk-400 {
  font-family: "Space Grotesk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.space-grotesk-500 {
    font-family: "Space Grotesk", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.space-grotesk-600 {
    font-family: "Space Grotesk", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.space-grotesk-700 {
    font-family: "Space Grotesk", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}


.bg-theme-dark{
    background-color: var(--bg-theme-dark);
}

.bg-theme-dark-2{
    background-color: var(--bg-theme-dark-2);
}

.font-theme-3{
    color: var(--bg-theme-dark-3);
}

#article{
    height: calc(100vh - 104px);
}



@media (min-width:2100px) {
    .mw-2100px{
        max-width: 2100px;
        margin-left: auto;
        margin-right: auto;
    }
}